SampleSdkApp/.DS_Store
.DS_Store
SocializeSDK.xcodeproj/xcuserdata/spopen.xcuserdatad/xcschemes/Socialize.xcscheme
SocializeSDK.xcodeproj/xcuserdata/spopen.xcuserdatad/xcschemes/unitTests.xcscheme
SocializeSDK.xcodeproj/xcuserdata/spopen.xcuserdatad/xcschemes/SampleSdkApp.xcscheme
SocializeSDK.xcodeproj/xcuserdata/spopen.xcuserdatad/xcschemes/xcschememanagement.plist
SocializeSDK.xcodeproj/project.xcworkspace/xcuserdata/spopen.xcuserdatad/
SocializeSDK.xcodeproj/xcuserdata/spopen.xcuserdatad/
SocializeSDK.xcodeproj/project.xcworkspace/xcuserdata/fawad.xcuserdatad/UserInterfaceState.xcuserstate
SocializeSDK.xcodeproj/xcuserdata/fawad.xcuserdatad/xcdebugger/Breakpoints.xcbkptlist
output
build
Documentation/docset/
docset-installed.txt
Socialize-iOS.embeddedframework
*.swp
SampleSdkApp/testrunner/Automation Results.plist
SampleSdkApp/testrunner/sampleApp_instruments.trace
tags
*.pyc
*.swo
Documentation/sphinx/source/conf.py
build/*
*.pbxuser
*.swp
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
 profile
*.moved-aside
.DS_Store
ThirdParty/include
ThirdParty/lib
*xcuserdata*
xcuserdata
Pods
Podfile.lock
