[submodule "ThirdParty/BlocksKit"]
	path = ThirdParty/BlocksKit
	url = https://github.com/socialize/BlocksKit.git
[submodule "ThirdParty/OAuthConsumer"]
	path = ThirdParty/OAuthConsumer
	url = https://github.com/socialize/OAuthConsumer.git
[submodule "ThirdParty/ocmock"]
	path = ThirdParty/ocmock
	url = https://github.com/socialize/ocmock.git
[submodule "ThirdParty/ghunit"]
	path = ThirdParty/ghunit
	url = https://github.com/socialize/gh-unit.git
