SampleSdkApp/.DS_Store
.DS_Store
SocializeSDK.xcodeproj/xcuserdata/spopen.xcuserdatad/xcschemes/Socialize.xcscheme
SocializeSDK.xcodeproj/xcuserdata/spopen.xcuserdatad/xcschemes/unitTests.xcscheme
SocializeSDK.xcodeproj/xcuserdata/spopen.xcuserdatad/xcschemes/SampleSdkApp.xcscheme
SocializeSDK.xcodeproj/xcuserdata/spopen.xcuserdatad/xcschemes/xcschememanagement.plist
SocializeSDK.xcodeproj/project.xcworkspace/xcuserdata/spopen.xcuserdatad/
SocializeSDK.xcodeproj/xcuserdata/spopen.xcuserdatad/
SocializeSDK.xcodeproj/project.xcworkspace/xcuserdata/fawad.xcuserdatad/UserInterfaceState.xcuserstate
SocializeSDK.xcodeproj/xcuserdata/fawad.xcuserdatad/xcdebugger/Breakpoints.xcbkptlist
output
build
Documentation/docset/
docset-installed.txt
Socialize-iOS.embeddedframework
*.swp
*.xcuserdatad
SampleSdkApp/testrunner/Automation Results.plist
SampleSdkApp/testrunner/sampleApp_instruments.trace
Socialize/Classes/SocializeVersion.h
tags
*.pyc
*.swo
Socialize/Classes/SocializeVersion.h
Documentation/sphinx/source/conf.py
