[submodule "ThirdParty/ocmock"]
	path = ThirdParty/ocmock
	url = https://github.com/socialize/ocmock.git
[submodule "ThirdParty/ghunit"]
	path = ThirdParty/ghunit
	url = https://github.com/socialize/gh-unit.git
