<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>IntegrationTests.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>18</integer>
		</dict>
		<key>Socialize Framework.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>20</integer>
		</dict>
		<key>Socialize-noarc-profiling.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>26</integer>
		</dict>
		<key>Socialize-noarc.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>25</integer>
		</dict>
		<key>Socialize-profiling.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>24</integer>
		</dict>
		<key>Socialize.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>19</integer>
		</dict>
		<key>TestApp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>23</integer>
		</dict>
		<key>UIIntegrationTests.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>21</integer>
		</dict>
		<key>UnitTests.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>22</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>AA00858F158D2B1100480399</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AA0085BF158D2EFC00480399</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AA0085F2158D358B00480399</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AA0C6013158FC4F000F66A3B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AA159D32158FAD4B006E1CAE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AA6C63CB158F0EB0005E5632</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AA6CE2DE1590536800A4B074</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AAB5E473159044E600D3EBDF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AAB5E520159044F900D3EBDF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
