<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Formatters</key>
	<dict>
		<key>SocializeDeviceToken</key>
		<string>SocializeDeviceTokenJSONFormatter</string>
		<key>SocializeSubscription</key>
		<string>SocializeSubscriptionJSONFormatter</string>
		<key>SocializeApplication</key>
		<string>SocializeApplicationJSONFormatter</string>
		<key>SocializeComment</key>
		<string>SocializeCommentJSONFormatter</string>
		<key>SocializeEntity</key>
		<string>SocializeEntityJSONFormatter</string>
		<key>SocializeError</key>
		<string>SocializeErrorFormatter</string>
		<key>SocializeLike</key>
		<string>SocializeLikeJSONFormatter</string>
		<key>SocializeShare</key>
		<string>SocializeShareJSONFormatter</string>
		<key>SocializeUser</key>
		<string>SocializeUserJSONFormatter</string>
		<key>SocializeFullUser</key>
		<string>SocializeFullUserJSONFormatter</string>
		<key>SocializeView</key>
		<string>SocializeViewJSONFormatter</string>
	</dict>
	<key>Prototypes</key>
	<dict>
		<key>SocializeDeviceToken</key>
		<string>SocializeDeviceToken</string>
		<key>SocializeSubscription</key>
		<string>SocializeSubscription</string>
		<key>SocializeActivity</key>
		<string>SocializeActivity</string>
		<key>SocializeApplication</key>
		<string>SocializeApplication</string>
		<key>SocializeComment</key>
		<string>SocializeComment</string>
		<key>SocializeEntity</key>
		<string>SocializeEntity</string>
		<key>SocializeError</key>
		<string>SocializeError</string>
		<key>SocializeLike</key>
		<string>SocializeLike</string>
		<key>SocializeShare</key>
		<string>SocializeShare</string>
		<key>SocializeUser</key>
		<string>SocializeUser</string>
		<key>SocializeFullUser</key>
		<string>SocializeFullUser</string>
		<key>SocializeView</key>
		<string>SocializeView</string>
	</dict>
	<key>URLs</key>
	<dict>
		<key>RedirectBaseURL</key>
		<string>http://r.getsocialize.com/</string>
		<key>RestserverBaseURL</key>
		<string>http://api.getsocialize.com/v1/</string>
		<key>SecureRestserverBaseURL</key>
		<string>https://api.getsocialize.com/v1/</string>
	</dict>
</dict>
</plist>
