<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Prototypes</key>
	<dict>
		<key>SocializeActivity</key>
		<string>SocializeActivity</string>
		<key>SocializeApplication</key>
		<string>SocializeApplication</string>
		<key>SocializeComment</key>
		<string>SocializeComment</string>
		<key>SocializeEntity</key>
		<string>SocializeEntity</string>
		<key>SocializeUser</key>
		<string>SocializeUser</string>
	</dict>
	<key>Formatters</key>
	<dict>
		<key>SocializeUser</key>
		<string>SocializeUserJSONFormatter</string>
		<key>SocializeEntry</key>
		<string>SocializeEntityJSONFormatter</string>
		<key>SocializeComment</key>
		<string>SocializeCommentJSONFormatter</string>
		<key>SocializeApplication</key>
		<string>SocializeApplicationJSONFormatter</string>
	</dict>
</dict>
</plist>
