<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Socialize API info</key>
	<dict>
		<key>facebookToken</key>
		<string>BAABpKH5ZBZBg8BANSQGGvcd7DGCxJvOU0S1QZCsF3ZBrmlMT9dZCrLGA5oQJ06njmIE1COAgjsmWDJsRwIig30jbhPZCArmdBe4WgY9CZAL9OZBfs1JIQtAf8F0btxVc2baUJZCZBhpgk3LQZDZD</string>
		<key>key</key>
		<string>0a3bc7cd-c269-4587-8687-cd02db56d57f</string>
		<key>secret</key>
		<string>8ee55515-4f1f-42ea-b25e-c4eddebf6c02</string>
	</dict>
</dict>
</plist>
