<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Socialize API info</key>
	<dict>
		<key>key</key>
		<string>6d2def4e-960d-458d-ba16-947ebc573f04</string>
		<key>secret</key>
		<string>bae4ad58-4bcc-4374-a72a-82649690ddb9</string>
	</dict>
</dict>
</plist>
