<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>item 0</key>
	<string>www.bbc.co.uk</string>
	<key>item 1</key>
	<string>www.techcrunch.com</string>
	<key>item 3</key>
	<string>www.ebay.com</string>
	<key>item 4</key>
	<string>www.helloworld.com</string>
	<key>item 5</key>
	<string>www.icanhazcheezburger.com</string>
	<key>item 6</key>
	<string>www.slate.com</string>
	<key>item 7</key>
	<string>www.cnn.com</string>
	<key>New item</key>
	<string>www.wooohoo.com</string>
</dict>
</plist>
