<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>--company-id</key>
	<string>com.socialize</string>
	<key>--explicit-crossref</key>
	<true/>
	<key>--ignore</key>
	<array>
		<string>Libraries</string>
		<string>Resources</string>
		<string>Templates</string>
		<string>.m</string>
	</array>
	<key>--input</key>
	<array>
		<string>./Classes/_Socialize.h</string>
		<string>./Classes/SocializeCommonDefinitions.h</string>
		<string>./Classes/SocializeAuthenticateService.h</string>
		<string>./Classes/SocializeCommentsService.h</string>
		<string>./Classes/SocializeViewService.h</string>
		<string>./Classes/SocializeEntityService.h</string>
		<string>./Classes/SocializeLikeService.h</string>
		<string>./Classes/SocializeService.h</string>
		<string>./Classes/SocializeObject.h</string>
		<string>./Classes/SocializeEntity.h</string>
		<string>./Classes/SocializeLike.h</string>
		<string>./Classes/SocializeComment.h</string>
		<string>./Classes/SocializeView.h</string>
		<string>./Classes/SocializeActivity.h</string>
		<string>./Classes/SocializeApplication.h</string>
		<string>./Classes/SocializeActionBar.h</string>
		<string>./Classes/SocializeUser.h</string>
		<string>./Classes/SocializeShare.h</string>
		<string>./Classes/SocializeError.h</string>
	</array>
	<key>--keep-intermediate-files</key>
	<true/>
	<key>--keep-undocumented-members</key>
	<false/>
	<key>--keep-undocumented-objects</key>
	<false/>
	<key>--logformat</key>
	<integer>1</integer>
	<key>--output</key>
	<string>../Documentation</string>
	<key>--print-settings</key>
	<true/>
	<key>--project-company</key>
	<string>Socialize Inc</string>
	<key>--project-name</key>
	<string>Socialize iOS SDK</string>
	<key>--repeat-first-par</key>
	<false/>
	<key>--templates</key>
	<string>./Templates</string>
	<key>--verbose</key>
	<integer>3</integer>
</dict>
</plist>
